# Secrets
*.agekey
*.pub
*.key
*.decrypted*.yaml
/age.key
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig.yaml
talosconfig*
talsecret.yaml
secrets.yaml
# Misc.
.private/
.task/
.venv/
Thumbs.db
secret.yaml
secrets.yaml
cluster-secrets.yaml

infra/cilium/secrets/
