---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: persisted
  namespace: monitoring
spec:
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: longhorn
        resources:
          requests:
            storage: 40Gi
